<app-loading *ngIf="loading"></app-loading>
<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-md-2">
        <img class="img-thumbnail img-circle" [src]="artist.images|noimage" alt="Artist Image">
    </div>
    <div class="col">
        <h3>{{artist.name}}</h3>
        <p>
            <a class="spotify-link" [href]="artist.external_urls.spotify" target="_blank"> Ver en Spotify</a>
        </p>
    </div>
    <div class="col-md-4 text-right">
        <button class="btn btn-outline-danger" routerLink="/search">Volver atrás</button>
    </div>
</div>
<div class="row mt-5" *ngIf="!loading">
    <table class="table bg-light">
        <thead class="thead">
            <th>Foto</th>
            <th>Álbum</th>
            <th>Canción</th>
            <th>Vista previa</th>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let track of topTracks">
                <td>
                    <img [src]="track.album.images|noimage" alt="Track Image" class="img-thumb">
                </td>
                <td>{{track.album.name}}</td>
                <td>{{track.name}}</td>
                <td>
                    <iframe [src]="track.id|domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </td>
            </tr>
        </tbody>
    </table>
</div>